.HBox{
    -fx-background-color: rgb(58,69,88);
}

.HBox-btn{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #b8b1b1;
}
.HBox-btn:hover{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #b8b1b1;
    -fx-border-color: rgb(22,169,250);
    -fx-border-width: 0px 0px 0px 3px;
}
.label{
    -fx-text-fill: #b8b1b1;
}
.HBox-btn:pressed .label{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #0099ff;
}
.HBox-btn:pressed .HBox-btn-icon{
    -fx-fill: #0099ff;
}
.HBox-btn-icon{
    -fx-fill: #b8b1b1;
}

